# Data Processing

#### Import library

In [5]:
%load_ext autoreload
%autoreload 2
from functions import *
from api_sample import _get_pv_gens
from api_sample import _get_weathers
from api_sample import _get_weather_forecasts
from api_sample import _get_environments

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## (Historical Data ~2022.10.20)

#### Read_csv (gens, envs)

In [6]:
path = 'C:/Users/lhk65/OneDrive/Desktop/cmpt2022_data1/'
gens = pd.read_csv(path + 'gens.csv')
envs = pd.read_csv(path + 'envs.csv')

In [7]:
gens0 = gens[gens['id']==0]
gens2 = gens[gens['id']==2]
gens8 = gens[gens['id']==8]

In [8]:
gens0 = first_gens(gens0)
gens2 = first_gens(gens2)
gens8 = first_gens(gens8)

In [9]:
gens0_1020 = gens0.loc[:3205]
gens2_1020 = gens2.loc[:17999]
gens8_1020 = gens8.loc[:17999]

In [10]:
display(gens0_1020, gens2_1020, gens8_1020)

      id                 time     amount
0      0  2022-06-09 11:00:00  19.200001
1      0  2022-06-09 12:00:00  42.599998
2      0  2022-06-09 13:00:00  14.700001
3      0  2022-06-09 14:00:00  37.700001
4      0  2022-06-09 15:00:00  73.800003
...   ..                  ...        ...
3201   0  2022-10-20 20:00:00   0.000000
3202   0  2022-10-20 21:00:00   0.000000
3203   0  2022-10-20 22:00:00   0.000000
3204   0  2022-10-20 23:00:00   0.000000
3205   0  2022-10-21 00:00:00   0.000000

[3206 rows x 3 columns]

       id                 time  amount
0       2  2020-10-01 01:00:00     0.0
1       2  2020-10-01 02:00:00     0.0
2       2  2020-10-01 03:00:00     0.0
3       2  2020-10-01 04:00:00     0.0
4       2  2020-10-01 05:00:00     0.0
...    ..                  ...     ...
17995   2  2022-10-20 20:00:00     0.0
17996   2  2022-10-20 21:00:00     0.0
17997   2  2022-10-20 22:00:00     0.0
17998   2  2022-10-20 23:00:00     0.0
17999   2  2022-10-21 00:00:00     0.0

[18000 rows x 3 columns]

       id                 time  amount
0       8  2020-10-01 01:00:00     0.0
1       8  2020-10-01 02:00:00     0.0
2       8  2020-10-01 03:00:00     0.0
3       8  2020-10-01 04:00:00     0.0
4       8  2020-10-01 05:00:00     0.0
...    ..                  ...     ...
17995   8  2022-10-20 20:00:00     0.0
17996   8  2022-10-20 21:00:00     0.0
17997   8  2022-10-20 22:00:00     0.0
17998   8  2022-10-20 23:00:00     0.0
17999   8  2022-10-21 00:00:00     0.0

[18000 rows x 3 columns]

#### Read_csv(weathers1, weathers2)

In [2]:
path = 'C:/Users/lhk65/OneDrive/Desktop/cmpt2022_data1/'
weathers1 = pd.read_csv(path + 'weathers1.csv')
weathers2 = pd.read_csv(path + 'weathers2.csv')

In [3]:
weathers1_1 = first_weather(weathers1, 1)
weathers1_3 = first_weather(weathers1, 3)
weathers2_1 = first_weather(weathers2, 1)

In [4]:
weathers1_1_1020 = weathers1_1.loc[:18733]
weathers1_3_1020 = weathers1_3.loc[:18896]
weathers2_1_1020 = weathers2_1.loc[:35559]

In [12]:
weathers1_1_1020 = to_weather(weathers1_1_1020)
weathers1_3_1020 = to_weather(weathers1_3_1020)
weathers2_1_1020 = to_weather(weathers2_1_1020)

In [13]:
display(weathers1_1_1020, weathers1_3_1020, weathers2_1_1020)

,time,id,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h
0,2020-10-01 00:00:00,1.0,16.5,100.0,16.4,338.0,5.7,0.0,16.1,74.0,9144.0,1011.0,0.0
1,2020-10-01 01:00:00,1.0,16.7,88.0,14.7,315.0,5.3,0.0,16.1,31.0,9144.0,1011.0,0.0
2,2020-10-01 02:00:00,1.0,16.5,95.0,15.8,45.0,5.0,0.0,14.5,18.0,9144.0,1012.0,0.0
3,2020-10-01 03:00:00,1.0,16.1,92.0,14.8,23.0,3.7,0.0,14.5,11.0,9144.0,1012.0,0.0
4,2020-10-01 04:00:00,1.0,15.8,87.0,13.8,270.0,4.7,0.0,17.7,51.0,9144.0,1012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17666,2022-10-20 20:00:00,1.0,15.1,59.0,7.1,270.0,7.3,0.0,16.1,11.0,5944.0,1027.0,0.0
17667,2022-10-20 21:00:00,1.0,12.7,73.0,8.0,0.0,2.8,0.0,16.1,61.0,5944.0,1027.0,0.0
17668,2022-10-20 22:00:00,1.0,11.7,71.5,6.8,0.0,2.9,0.0,16.1,72.0,7041.0,1027.0,0.0
17669,2022-10-20 23:00:00,1.0,11.4,80.0,8.1,0.0,1.9,0.0,11.3,84.0,5822.0,1027.0,0.0
17670,2022-10-21 00:00:00,1.0,10.9,84.0,8.3,0.0,3.0,0.0,11.3,86.0,5822.0,1027.0,0.0

,time,id,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h
0,2020-10-01 00:00:00,3.0,15.7,91.0,14.2,135.0,6.6,0.0,16.1,5.0,9144.0,1012.0,0.0
1,2020-10-01 01:00:00,3.0,15.3,84.0,12.6,0.0,1.9,0.0,16.1,25.0,9144.0,1012.0,0.0
2,2020-10-01 02:00:00,3.0,14.8,94.0,13.9,315.0,4.1,0.0,14.5,17.0,9144.0,1013.0,0.0
3,2020-10-01 03:00:00,3.0,14.4,95.0,13.6,68.0,4.3,0.0,14.5,39.0,9144.0,1013.0,0.0
4,2020-10-01 04:00:00,3.0,14.1,92.0,12.7,0.0,1.9,0.0,19.3,88.0,9144.0,1013.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17667,2022-10-20 20:00:00,3.0,10.2,60.0,2.7,270.0,0.0,0.0,19.3,0.0,12192.0,1030.3,0.0
17668,2022-10-20 21:00:00,3.0,10.5,56.0,2.2,248.0,0.0,0.0,19.3,3.0,12192.0,1029.5,0.0
17669,2022-10-20 22:00:00,3.0,10.4,66.0,4.3,0.0,0.0,0.0,20.9,76.0,6096.0,1026.0,0.0
17670,2022-10-20 23:00:00,3.0,9.9,50.0,-0.2,270.0,0.0,0.0,19.3,68.0,10363.0,1027.4,0.0
17671,2022-10-21 00:00:00,3.0,8.9,53.0,-0.2,248.0,0.0,0.0,19.3,38.0,12192.0,1026.4,0.0

,time,id,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h
0,2020-10-01 00:00:00,1.0,17.290000,94.0,86.0,1.460000,38.000000,1011.5,0.0
1,2020-10-01 01:00:00,1.0,17.330000,82.5,106.5,1.970000,38.000000,1011.5,0.0
2,2020-10-01 02:00:00,1.0,16.685000,85.0,130.5,2.220000,1.000000,1012.0,0.0
3,2020-10-01 03:00:00,1.0,16.185000,90.5,122.0,2.370000,38.000000,1012.0,0.0
4,2020-10-01 04:00:00,1.0,16.010000,87.5,126.0,2.310000,38.000000,1012.0,0.0
...,...,...,...,...,...,...,...,...,...
17790,2022-10-20 20:00:00,1.0,11.375000,65.5,293.5,0.985000,13.500000,1027.0,0.0
17791,2022-10-20 21:00:00,1.0,10.830000,51.0,293.0,1.170000,24.000000,1027.0,0.0
17792,2022-10-20 22:00:00,1.0,11.283333,70.0,204.0,0.806667,66.666667,1027.0,0.0
17793,2022-10-20 23:00:00,1.0,9.830000,53.0,341.0,0.840000,100.000000,1027.0,0.0
17794,2022-10-21 00:00:00,1.0,10.375000,70.5,164.0,0.805000,100.000000,1027.0,0.0

## (API Data 2022.10.21~)

#### 경진대회 종료로 API Data 호출구간 및 전처리 부분 삭제(전처리 부분은 과거 데이터 전처리와 동일)

#### `_get_pv_gens(mm, dd)`
```python
df = pd.DataFrame(_get_pv_gens('11', '12')
```

#### `_get_environments(mm, dd)`
```python
df = pd.DataFrame(_get_environments('11', '12')
```

#### `_get_weathers(num, mm, dd)`
```python
df = pd.DataFrame(_get_weathers(1, '11', '12')
```

#### `_get_weather_forecasts(num, id, hr, mm, dd)`
```python
df = pd.DataFrame(_get_weather_forecasts(1, 1, 9, '11', '13')
```

## merge Historical and API Data

#### 각각 과거 데이터와 API로 취득한 데이터를 Join
#### id = 0번의 발전량 데이터와 해당하는 센서 데이터 그리고 기상데이터를 조인 후 csv파일로 내보내기
#### id = 2번의 발전량 데이터와 해당하는 기상데이터를 조인 후 csv파일로 내보내기
#### id = 8번의 발전량 데이터와 해당하는 기상데이터를 조인 후 csv파일로 내보내기