In [2]:
from api_sample import _get_pv_sites
from api_sample import _get_pv_gens
from api_sample import _get_weathers
from api_sample import _get_weather_forecasts
from api_sample import _get_environments
from api_sample import _post_bids
from functions import *

In [3]:
%load_ext autoreload
from functions import *
%autoreload 2

In [4]:
import datetime
from datetime import timedelta
from time import strptime
import pandas as pd

In [6]:
df1 = pd.DataFrame(_get_weathers(1,'10', '21'))
df2 = pd.DataFrame(_get_weathers(1,'10', '22'))
df3 = pd.DataFrame(_get_weathers(1,'10', '23'))
df4 = pd.DataFrame(_get_weathers(1,'10', '24'))
df5 = pd.DataFrame(_get_weathers(1,'10', '25'))
df6 = pd.DataFrame(_get_weathers(1,'10', '26'))
df7 = pd.DataFrame(_get_weathers(1,'10', '27'))
df8 = pd.DataFrame(_get_weathers(1,'10', '28'))
df9 = pd.DataFrame(_get_weathers(1,'10', '29'))
df10 = pd.DataFrame(_get_weathers(1,'10', '30'))
df11 = pd.DataFrame(_get_weathers(1,'10', '31'))
df12 = pd.DataFrame(_get_weathers(1,'11', '01'))
df13 = pd.DataFrame(_get_weathers(1,'11', '02'))
df14 = pd.DataFrame(_get_weathers(1,'11', '03'))
df15 = pd.DataFrame(_get_weathers(1,'11', '04'))
df16 = pd.DataFrame(_get_weathers(1,'11', '05'))
df17 = pd.DataFrame(_get_weathers(1,'11', '06'))
df18 = pd.DataFrame(_get_weathers(1,'11', '07'))
df19 = pd.DataFrame(_get_weathers(1,'11', '08'))
df20 = pd.DataFrame(_get_weathers(1,'11', '09'))
df21 = pd.DataFrame(_get_weathers(1,'11', '10'))
df22 = pd.DataFrame(_get_weathers(1,'11', '11'))
df23 = pd.DataFrame(_get_weathers(1,'11', '12'))
df24 = pd.DataFrame(_get_weathers(1,'11', '13'))
df25 = pd.DataFrame(_get_weathers(1,'11', '14'))
df26 = pd.DataFrame(_get_weathers(1,'11', '15'))

593
609
581
606
601
570
588
619
639
613
588
617
595
584
640
581
637
588
599
552
550
614
585
523
567
607

In [7]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26])

In [9]:
def to_weather2(data, id):
    data = data[data['id']==id]
    data = to_local(data)
    data = data.dropna()
    data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
    data['date'] = data['time'].dt.date
    data['mon'] = data['time'].dt.month
    data['day'] = data['time'].dt.day
    data['hour'] = data['time'].dt.hour
    data['min'] = data['time'].dt.minute
    for i in range(0,len(data)):
        if (data['min'].iloc[i]> 0):
            data['hour'].iloc[i] += 1
            if(data['hour'].iloc[i] == 24):
                data['hour'].iloc[i] = 0
                data['day'].iloc[i] += 1
        data['time'] = data['date'].astype(str) + " " + data['hour'].astype(str) + ':00:00'
    data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
    data = data.groupby(['time'],as_index=False).mean()
    return data

In [10]:
df

,id,time,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h
0,1,2022-10-20T15:58:00+00:00,10.4,82.0,7.4,315.0,3.0,0.0,12.9,70.0,12192.0,1026.0,0.0
1,1,2022-10-20T16:58:00+00:00,9.9,89.0,8.3,315.0,3.1,0.0,8.0,62.0,5608.0,1026.0,0.0
2,1,2022-10-20T17:58:00+00:00,9.5,93.0,8.4,315.0,3.3,0.0,6.4,81.0,7041.0,1026.0,0.0
3,1,2022-10-20T18:04:00+00:00,9.0,96.0,8.4,315.0,3.3,0.0,6.4,81.0,5822.0,1026.0,0.0
4,1,2022-10-20T18:57:00+00:00,9.0,86.0,6.8,338.0,3.2,0.0,9.7,66.0,12192.0,1026.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,21,2022-11-15T11:03:00+00:00,12.7,67.0,6.7,90.0,0.0,0.0,29.0,2.0,10180.0,1018.2,0.0
603,21,2022-11-15T11:58:00+00:00,7.7,93.0,6.7,248.0,2.9,0.0,29.0,44.0,1585.0,1018.2,0.0
604,21,2022-11-15T12:58:00+00:00,7.7,88.0,5.8,0.0,0.0,0.0,11.3,76.0,1219.0,1016.9,0.0
605,21,2022-11-15T13:58:00+00:00,9.1,68.0,3.5,158.0,4.7,0.0,30.6,48.0,12192.0,1017.0,0.0
606,21,2022-11-15T14:58:00+00:00,6.8,88.0,4.9,68.0,0.0,0.0,30.6,28.0,12192.0,1016.4,0.0

In [11]:
weather1_1 = to_weather2(df, 1)

C:\Users\lhk65\AppData\Local\Temp\ipykernel_23612\1126458418.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_23612\1126458418.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] = 0
C:\Users\lhk65\AppData\Local\Temp\ipykernel_23612\1126458418.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_23612\1126458418.py:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = data.groupby(['time'],as_index=False).mean()

In [12]:
weather1_1

,time,id,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h,mon,day,hour,min
0,2022-10-21 00:00:00,1.0,12.5,76.0,8.30,0.0,2.60,0.0,6.40,21.0,6096.0,1024.0,0.00,10.0,22.0,0.0,58.0
1,2022-10-21 01:00:00,1.0,10.4,82.0,7.40,315.0,3.00,0.0,12.90,70.0,12192.0,1026.0,0.00,10.0,21.0,1.0,58.0
2,2022-10-21 02:00:00,1.0,9.9,89.0,8.30,315.0,3.10,0.0,8.00,62.0,5608.0,1026.0,0.00,10.0,21.0,2.0,58.0
3,2022-10-21 03:00:00,1.0,9.5,93.0,8.40,315.0,3.30,0.0,6.40,81.0,7041.0,1026.0,0.00,10.0,21.0,3.0,58.0
4,2022-10-21 04:00:00,1.0,9.0,91.0,7.60,326.5,3.25,0.0,8.05,73.5,9007.0,1026.0,0.00,10.0,21.0,4.0,30.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,2022-11-15 19:00:00,1.0,9.1,71.0,4.10,338.0,6.80,0.0,17.70,48.0,2933.0,1016.0,0.00,11.0,15.0,19.0,53.0
575,2022-11-15 20:00:00,1.0,8.8,75.5,4.65,169.0,4.85,0.0,16.90,33.0,11201.5,1017.0,0.00,11.0,15.0,20.0,28.0
576,2022-11-15 21:00:00,1.0,8.9,77.5,5.20,0.0,10.55,0.0,12.05,59.0,6492.0,1016.5,0.05,11.0,15.0,21.0,30.5
577,2022-11-15 22:00:00,1.0,8.3,77.0,4.50,0.0,7.40,0.0,16.10,57.0,6096.0,1018.0,0.00,11.0,15.0,22.0,58.0
578,2022-11-15 23:00:00,1.0,8.4,80.0,5.20,0.0,2.80,0.0,11.30,51.0,12192.0,1017.0,0.00,11.0,15.0,23.0,58.0

In [145]:
weather2_1

,time,id,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h,mon,day,hour,min
0,2022-10-21 00:00:00,1.0,9.895,77.0,319.0,0.805,99.0,1026.5,0.000,10.0,21.0,0.0,15.0
1,2022-10-21 01:00:00,1.0,9.055,78.0,324.0,0.910,98.0,1026.5,0.000,10.0,21.0,1.0,15.5
2,2022-10-21 02:00:00,1.0,8.875,78.5,329.0,0.810,98.0,1026.5,0.000,10.0,21.0,2.0,15.0
3,2022-10-21 03:00:00,1.0,8.375,78.5,330.0,0.785,90.0,1026.0,0.000,10.0,21.0,3.0,15.5
4,2022-10-21 04:00:00,1.0,8.090,100.0,320.0,0.770,75.5,1026.0,0.000,10.0,21.0,4.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2022-11-15 19:00:00,1.0,11.485,57.5,274.5,3.805,82.0,1017.0,0.000,11.0,15.0,19.0,15.0
620,2022-11-15 20:00:00,1.0,11.495,56.5,271.5,3.715,77.0,1017.0,0.000,11.0,15.0,20.0,15.0
621,2022-11-15 21:00:00,1.0,7.890,87.0,10.0,4.375,100.0,1017.5,0.150,11.0,15.0,21.0,15.5
622,2022-11-15 22:00:00,1.0,11.435,58.5,271.5,4.180,8.0,1017.0,0.125,11.0,15.0,22.0,15.5
623,2022-11-15 23:00:00,1.0,11.370,59.0,273.0,4.170,14.0,1017.0,0.000,11.0,15.0,23.0,0.0

In [115]:
weather1_1_3 = to_weather(df, 3)

C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def to_envs(data):
C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from datetime import datetime
C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:59: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  import pandas as pd

In [119]:
weather1_1_1

,time,id,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h,mon,day,hour,min
0,2022-10-21 00:00:00,1.0,12.50,76.0,8.3,0.0,2.6,0.0,6.4,21.0,6096.0,1024.0,0.0,10.0,22.0,0.0,58.0
1,2022-10-21 01:00:00,1.0,10.40,82.0,7.4,315.0,3.0,0.0,12.9,70.0,12192.0,1026.0,0.0,10.0,21.0,1.0,58.0
2,2022-10-21 02:00:00,1.0,9.90,89.0,8.3,315.0,3.1,0.0,8.0,62.0,5608.0,1026.0,0.0,10.0,21.0,2.0,58.0
3,2022-10-21 03:00:00,1.0,9.25,94.5,8.4,315.0,3.3,0.0,6.4,81.0,6431.5,1026.0,0.0,10.0,21.0,3.0,31.0
4,2022-10-21 04:00:00,1.0,9.00,86.0,6.8,338.0,3.2,0.0,9.7,66.0,12192.0,1026.0,0.0,10.0,21.0,4.0,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,2022-11-15 19:00:00,1.0,9.45,69.0,4.1,338.0,6.8,0.0,17.7,48.0,6572.0,1016.5,0.0,11.0,15.0,19.0,28.0
613,2022-11-15 20:00:00,1.0,8.35,81.0,5.2,0.0,2.9,0.0,16.1,18.0,12192.0,1016.5,0.0,11.0,15.0,20.0,28.0
614,2022-11-15 21:00:00,1.0,8.90,77.0,5.2,0.0,18.2,0.0,8.0,100.0,792.0,1017.0,0.1,11.0,15.0,21.0,58.0
615,2022-11-15 22:00:00,1.0,8.30,77.0,4.5,0.0,7.4,0.0,16.1,57.0,6096.0,1018.0,0.0,11.0,15.0,22.0,58.0
616,2022-11-15 23:00:00,1.0,8.40,80.0,5.2,0.0,2.8,0.0,11.3,51.0,12192.0,1017.0,0.0,11.0,15.0,23.0,58.0

In [123]:
weather1_1_3

,time,id,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h,mon,day,hour,min
0,2022-10-21 00:00:00,3.0,11.80,68.0,6.1,23.0,0.0,0.0,19.30,63.0,5822.0,1023.70,0.1,10.0,22.0,0.0,58.0
1,2022-10-21 01:00:00,3.0,8.90,77.0,5.0,0.0,0.0,0.0,19.30,76.0,12192.0,1026.00,0.0,10.0,21.0,1.0,58.0
2,2022-10-21 02:00:00,3.0,8.00,57.0,0.0,270.0,0.0,0.0,19.30,28.0,12192.0,1025.50,0.0,10.0,21.0,2.0,58.0
3,2022-10-21 03:00:00,3.0,7.55,73.5,3.1,293.0,0.4,0.0,19.30,48.0,11277.5,1025.70,0.0,10.0,21.0,3.0,31.0
4,2022-10-21 04:00:00,3.0,7.40,82.0,4.6,135.0,0.0,0.0,19.30,76.0,8930.5,1026.20,0.0,10.0,21.0,4.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,2022-11-15 19:00:00,3.0,10.00,63.5,3.3,259.0,3.7,0.0,28.15,38.0,7824.5,1017.35,0.0,11.0,15.0,19.0,28.0
617,2022-11-15 20:00:00,3.0,7.75,68.5,1.0,281.5,0.7,0.0,33.80,0.5,11201.5,1018.55,0.0,11.0,15.0,20.0,28.0
618,2022-11-15 21:00:00,3.0,6.90,67.0,1.1,270.0,0.0,0.0,33.80,0.0,12192.0,1018.40,0.0,11.0,15.0,21.0,58.0
619,2022-11-15 22:00:00,3.0,6.90,79.0,3.5,0.0,1.9,0.0,20.90,0.0,12192.0,1018.00,0.0,11.0,15.0,22.0,58.0
620,2022-11-15 23:00:00,3.0,5.40,70.0,0.4,293.0,0.0,0.0,41.80,2.0,12192.0,1016.50,0.0,11.0,15.0,23.0,58.0

In [94]:
gens2_0 = to_gen(df, 0)
gens2_2 = to_gen(df, 2)
gens2_8 = to_gen(df, 8)

In [95]:
gens2_0

     id                time  amount
0     0 2022-10-21 01:00:00     0.0
1     0 2022-10-21 02:00:00     0.0
2     0 2022-10-21 03:00:00     0.0
3     0 2022-10-21 04:00:00     0.0
4     0 2022-10-21 05:00:00     0.0
..   ..                 ...     ...
619   0 2022-11-15 20:00:00     0.0
620   0 2022-11-15 21:00:00     0.0
621   0 2022-11-15 22:00:00     0.0
622   0 2022-11-15 23:00:00     0.0
623   0 2022-11-16 00:00:00     0.0

[624 rows x 3 columns]

In [31]:
envs2 = to_envs(df)

C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] += 1
C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] = 0
C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'].iloc[i] += 1
C:\Users\lhk65\OneDrive\Desktop\Project\2022_POSTECH_OIBC\functions.py:86: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = data.groupby(['time'],as_index=False).mean()

In [32]:
envs2

                   time  nins     mtemp
0   2022-10-21 01:00:00   0.0  6.854545
1   2022-10-21 02:00:00   0.0  7.000000
2   2022-10-21 03:00:00   0.0  7.516667
3   2022-10-21 04:00:00   0.0  6.875000
4   2022-10-21 05:00:00   0.0  5.541667
..                  ...   ...       ...
619 2022-11-15 20:00:00   0.0  6.016667
620 2022-11-15 21:00:00   0.0  7.200000
621 2022-11-15 22:00:00   0.0  7.775000
622 2022-11-15 23:00:00   0.0  5.758333
623 2022-11-16 00:00:00   0.0  3.808333

[624 rows x 3 columns]

In [35]:
envs1 = pd.read_csv('c:/Users/lhk65/OneDrive/Desktop/cmpt2022_data1/envs.csv')
gens1 = pd.read_csv('c:/Users/lhk65/OneDrive/Desktop/cmpt2022_data1/gens.csv')
weather1 = pd.read_csv('c:/Users/lhk65/OneDrive/Desktop/cmpt2022_data1/weathers1.csv')
weather2 = pd.read_csv('c:/Users/lhk65/OneDrive/Desktop/cmpt2022_data1/weathers2.csv')

In [36]:
envs1 = first_gens(envs1)

In [26]:
def ex_env(data):
    import datetime
    from datetime import timedelta
    from time import strptime
    data = data.dropna()
    data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
    data['date'] = data['time'].dt.date
    data['mon'] = data['time'].dt.month
    data['day'] = data['time'].dt.day
    data['hour'] = data['time'].dt.hour
    data['min'] = data['time'].dt.minute
    for i in range(0,len(data)):
        if (data['min'].iloc[i]> 0):
            data['hour'].iloc[i] += 1
            if(data['hour'].iloc[i] == 24):
                data['hour'].iloc[i] = 0
                data['day'].iloc[i] += 1
    data['time'] = data['date'].astype(str) + " " + data['hour'].astype(str) + ':00:00'
    data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
    data = data.groupby(['time'],as_index=False).mean()
    data = reset(data)
    data['time'] = data['time'] + datetime.timedelta(hours=1)
    data = data.drop(['id', 'mon', 'day', 'hour', 'min'], axis=1)
    return data

In [37]:
envs1 = ex_env(envs1)
envs1

C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1763768904.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1763768904.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] = 0
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1763768904.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1763768904.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = data.groupby(['time'],as_index=False).mean()

                    time  nins      mtemp
0    2022-07-21 01:00:00   0.0  24.800000
1    2022-07-21 02:00:00   0.0  24.066667
2    2022-07-21 03:00:00   0.0  24.015385
3    2022-07-21 04:00:00   0.0  23.350000
4    2022-07-21 05:00:00   0.0  22.200000
...                  ...   ...        ...
2203 2022-10-20 20:00:00   0.0   9.325000
2204 2022-10-20 21:00:00   0.0   9.291667
2205 2022-10-20 22:00:00   0.0   9.766667
2206 2022-10-20 23:00:00   0.0   9.291667
2207 2022-10-21 00:00:00   0.0   9.366667

[2208 rows x 3 columns]

In [38]:
envs = pd.concat([envs1, envs2])
envs

                   time  nins      mtemp
0   2022-07-21 01:00:00   0.0  24.800000
1   2022-07-21 02:00:00   0.0  24.066667
2   2022-07-21 03:00:00   0.0  24.015385
3   2022-07-21 04:00:00   0.0  23.350000
4   2022-07-21 05:00:00   0.0  22.200000
..                  ...   ...        ...
619 2022-11-15 20:00:00   0.0   6.016667
620 2022-11-15 21:00:00   0.0   7.200000
621 2022-11-15 22:00:00   0.0   7.775000
622 2022-11-15 23:00:00   0.0   5.758333
623 2022-11-16 00:00:00   0.0   3.808333

[2832 rows x 3 columns]

In [39]:
envs.to_csv('envs_1115.csv', index=False)

In [44]:
gens0 = gens1[gens1['id']==0]
gens2 = gens1[gens1['id']==2]
gens8 = gens1[gens1['id']==8]

In [59]:
gens2 = gens1[gens1['id']==2]

In [46]:
gens0 = reset(gens0)
gens2 = reset(gens2)
gens8 = reset(gens8)

In [60]:
gens2 = reset(gens2)

In [56]:
gens0.tail(16)

      id                       time      amount
3206   0  2022-10-21 01:00:00+09:00    0.000000
3207   0  2022-10-21 02:00:00+09:00    0.000000
3208   0  2022-10-21 03:00:00+09:00    0.000000
3209   0  2022-10-21 04:00:00+09:00    0.000000
3210   0  2022-10-21 05:00:00+09:00    0.000000
3211   0  2022-10-21 06:00:00+09:00    0.000000
3212   0  2022-10-21 07:00:00+09:00    0.700000
3213   0  2022-10-21 08:00:00+09:00   31.299999
3214   0  2022-10-21 09:00:00+09:00  119.000000
3215   0  2022-10-21 10:00:00+09:00  209.699997
3216   0  2022-10-21 11:00:00+09:00  283.899994
3217   0  2022-10-21 12:00:00+09:00  306.500000
3218   0  2022-10-21 13:00:00+09:00  275.299988
3219   0  2022-10-21 14:00:00+09:00  239.699997
3220   0  2022-10-21 15:00:00+09:00  236.600006
3221   0  2022-10-21 16:00:00+09:00  129.800003

In [62]:
gens2 = gens2.drop([18000, 18001,18002,18003,18004,18005,18006,18007,18008,18009,18010,18011,18012,18013,18014,18015,18015])

In [68]:
gens2 = first_gens(gens2)
gens8 = first_gens(gens8)

In [66]:
gens0 = first_gens(gens0)

In [72]:
gens8

       id                 time  amount
0       8  2020-10-01 01:00:00     0.0
1       8  2020-10-01 02:00:00     0.0
2       8  2020-10-01 03:00:00     0.0
3       8  2020-10-01 04:00:00     0.0
4       8  2020-10-01 05:00:00     0.0
...    ..                  ...     ...
17995   8  2022-10-20 20:00:00     0.0
17996   8  2022-10-20 21:00:00     0.0
17997   8  2022-10-20 22:00:00     0.0
17998   8  2022-10-20 23:00:00     0.0
17999   8  2022-10-21 00:00:00     0.0

[18000 rows x 3 columns]

In [96]:
gen0 = pd.concat([gens0, gens2_0])
gen2 = pd.concat([gens2, gens2_2])
gen8 = pd.concat([gens8, gens2_8])

In [100]:
gen0.to_csv('gen0_1115.csv', index=False)
gen2.to_csv('gen2_1115.csv', index=False)
gen8.to_csv('gen8_1115.csv', index=False)

In [109]:
weather1_1 = weather1[weather1['id']==1]
weather1_3 = weather1[weather1['id']==3]

In [146]:
weathers2_1 = weather2[weather2['id']==1]

In [149]:
weathers2_1

,id,time,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h
0,1,2020-10-01T00:00:43+09:00,17.29,100.0,79.0,1.18,1.0,1012.0,0.0
1,1,2020-10-01T00:30:42+09:00,17.29,88.0,93.0,1.74,75.0,1011.0,0.0
2,1,2020-10-01T01:00:42+09:00,17.29,88.0,93.0,1.74,75.0,1011.0,0.0
3,1,2020-10-01T01:30:41+09:00,17.37,77.0,120.0,2.20,1.0,1012.0,0.0
4,1,2020-10-01T02:00:44+09:00,17.37,77.0,120.0,2.20,1.0,1012.0,0.0
...,...,...,...,...,...,...,...,...,...
35587,1,2022-10-21T14:00:51+09:00,20.83,34.0,251.0,3.59,48.0,1024.0,0.0
35588,1,2022-10-21T14:30:41+09:00,19.92,30.0,270.0,3.09,48.0,1023.0,0.0
35589,1,2022-10-21T15:00:53+09:00,20.83,32.0,251.0,3.27,56.0,1023.0,0.0
35590,1,2022-10-21T15:30:43+09:00,19.89,28.0,230.0,3.60,0.0,1023.0,0.0
35591,1,2022-10-21T16:01:08+09:00,20.83,34.0,250.0,3.75,41.0,1024.0,0.0

In [150]:
weathers2_1 = first_gens(weathers2_1)

In [151]:
weathers2_1

,id,time,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h
0,1,2020-10-01 00:00:43,17.29,100.0,79.0,1.18,1.0,1012.0,0.0
1,1,2020-10-01 00:30:42,17.29,88.0,93.0,1.74,75.0,1011.0,0.0
2,1,2020-10-01 01:00:42,17.29,88.0,93.0,1.74,75.0,1011.0,0.0
3,1,2020-10-01 01:30:41,17.37,77.0,120.0,2.20,1.0,1012.0,0.0
4,1,2020-10-01 02:00:44,17.37,77.0,120.0,2.20,1.0,1012.0,0.0
...,...,...,...,...,...,...,...,...,...
35587,1,2022-10-21 14:00:51,20.83,34.0,251.0,3.59,48.0,1024.0,0.0
35588,1,2022-10-21 14:30:41,19.92,30.0,270.0,3.09,48.0,1023.0,0.0
35589,1,2022-10-21 15:00:53,20.83,32.0,251.0,3.27,56.0,1023.0,0.0
35590,1,2022-10-21 15:30:43,19.89,28.0,230.0,3.60,0.0,1023.0,0.0
35591,1,2022-10-21 16:01:08,20.83,34.0,250.0,3.75,41.0,1024.0,0.0

In [158]:
weathers2_1.tail(35)

,id,time,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h
35557,1,2022-10-20 23:01:16,9.83,53.0,341.0,0.84,100.0,1027.0,0.0
35558,1,2022-10-20 23:31:05,10.92,87.0,10.0,1.03,100.0,1027.0,0.0
35559,1,2022-10-21 00:00:30,9.83,54.0,318.0,0.58,100.0,1027.0,0.0
35560,1,2022-10-21 00:30:40,9.96,100.0,320.0,1.03,98.0,1026.0,0.0
35561,1,2022-10-21 01:01:05,8.83,56.0,338.0,0.79,98.0,1027.0,0.0
35562,1,2022-10-21 01:30:49,9.28,100.0,310.0,1.03,98.0,1026.0,0.0
35563,1,2022-10-21 02:00:49,8.83,57.0,338.0,0.59,98.0,1027.0,0.0
35564,1,2022-10-21 02:30:40,8.92,100.0,320.0,1.03,98.0,1026.0,0.0
35565,1,2022-10-21 03:01:02,7.83,57.0,340.0,0.54,98.0,1026.0,0.0
35566,1,2022-10-21 03:30:43,8.92,100.0,320.0,1.03,82.0,1026.0,0.0
35567,1,2022-10-21 03:58:15,8.90,100.0,320.0,1.03,82.0,1026.0,0.0
35568,1,2022-10-21 04:30:40,7.28,100.0,320.0,0.51,69.0,1026.0,0.0
35569,1,2022-10-21 05:00:49,6.83,59.0,29.0,0.52,69.0,1026.0,0.0
35570,1,2022-10-21 05:26:17,7.68,100.0,0.0,0.00,69.0,1026.0,0.0
35571,1,2022-10-21 06:00:47,7.83,60.0,93.0,0.15,67.0,1026.0,0.0
35572,1,2022-10-21 06:30:42,6.40,100.0,230.0,1.03,67.0,1026.0,0.0
35573,1,2022-10-21 07:00:53,7.84,61.0,123.0,0.45,67.0,1026.0,0.0
35574,1,2022-10-21 07:30:42,6.12,100.0,100.0,1.03,57.0,1026.0,0.0
35575,1,2022-10-21 08:00:59,7.83,58.0,113.0,0.49,57.0,1027.0,0.0
35576,1,2022-10-21 08:31:03,8.92,100.0,330.0,0.51,61.0,1026.0,0.0
35577,1,2022-10-21 09:00:52,9.50,52.0,142.0,1.14,40.0,1027.0,0.0
35578,1,2022-10-21 09:31:02,12.89,77.0,180.0,1.03,13.0,1026.0,0.0
35579,1,2022-10-21 10:00:54,11.17,47.0,173.0,1.03,13.0,1026.0,0.0
35580,1,2022-10-21 10:30:40,15.01,63.0,170.0,1.03,27.0,1026.0,0.0
35581,1,2022-10-21 11:00:54,14.51,42.0,226.0,1.60,27.0,1026.0,0.0
35582,1,2022-10-21 11:30:41,17.41,52.0,180.0,1.54,46.0,1026.0,0.0
35583,1,2022-10-21 12:00:47,16.51,38.0,240.0,2.28,46.0,1026.0,0.0
35584,1,2022-10-21 12:30:41,18.77,37.0,230.0,1.54,42.0,1025.0,0.0
35585,1,2022-10-21 13:00:52,19.83,36.0,244.0,3.04,42.0,1025.0,0.0
35586,1,2022-10-21 13:30:42,19.21,40.0,310.0,2.06,48.0,1024.0,0.0
35587,1,2022-10-21 14:00:51,20.83,34.0,251.0,3.59,48.0,1024.0,0.0
35588,1,2022-10-21 14:30:41,19.92,30.0,270.0,3.09,48.0,1023.0,0.0
35589,1,2022-10-21 15:00:53,20.83,32.0,251.0,3.27,56.0,1023.0,0.0
35590,1,2022-10-21 15:30:43,19.89,28.0,230.0,3.60,0.0,1023.0,0.0
35591,1,2022-10-21 16:01:08,20.83,34.0,250.0,3.75,41.0,1024.0,0.0

In [159]:
weathers2_1 = weathers2_1.drop([35559,35560,35561,35562,35563,35564,35565,35566,35567,35568,35569,35570,35571,35572,35573,35574,35575,35576,35577,35578,35579,35580,35581,35582,35583,35584,35585,35586,35587,35588,35589,35590,35591])

In [160]:
weathers2_1 = weather(weathers2_1)

C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] = 0
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = data.groupby(['time'],as_index=False).mean()

In [161]:
weathers2_1

,time,id,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h,mon,day,hour,min
0,2020-10-01 00:00:00,1.0,17.290000,94.0,86.0,1.460000,38.000000,1011.500000,0.0,10.0,1.0,0.0,15.000000
1,2020-10-01 01:00:00,1.0,17.330000,82.5,106.5,1.970000,38.000000,1011.500000,0.0,10.0,1.0,1.0,15.000000
2,2020-10-01 02:00:00,1.0,16.685000,85.0,130.5,2.220000,1.000000,1012.000000,0.0,10.0,1.0,2.0,15.000000
3,2020-10-01 03:00:00,1.0,16.185000,90.5,122.0,2.370000,38.000000,1012.000000,0.0,10.0,1.0,3.0,15.000000
4,2020-10-01 04:00:00,1.0,16.010000,87.5,126.0,2.310000,38.000000,1012.000000,0.0,10.0,1.0,4.0,15.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17791,2022-10-20 19:00:00,1.0,12.786667,63.0,286.0,2.970000,6.666667,1026.666667,0.0,10.0,20.0,19.0,20.333333
17792,2022-10-20 20:00:00,1.0,11.375000,65.5,293.5,0.985000,13.500000,1027.000000,0.0,10.0,20.0,20.0,15.500000
17793,2022-10-20 21:00:00,1.0,10.830000,51.0,293.0,1.170000,24.000000,1027.000000,0.0,10.0,20.0,21.0,1.000000
17794,2022-10-20 22:00:00,1.0,11.283333,70.0,204.0,0.806667,66.666667,1027.000000,0.0,10.0,20.0,22.0,20.333333
17795,2022-10-20 23:00:00,1.0,9.830000,53.0,341.0,0.840000,100.000000,1027.000000,0.0,10.0,20.0,23.0,1.000000

In [162]:
weather2_1

,time,id,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h,mon,day,hour,min
0,2022-10-21 00:00:00,1.0,9.895,77.0,319.0,0.805,99.0,1026.5,0.000,10.0,21.0,0.0,15.0
1,2022-10-21 01:00:00,1.0,9.055,78.0,324.0,0.910,98.0,1026.5,0.000,10.0,21.0,1.0,15.5
2,2022-10-21 02:00:00,1.0,8.875,78.5,329.0,0.810,98.0,1026.5,0.000,10.0,21.0,2.0,15.0
3,2022-10-21 03:00:00,1.0,8.375,78.5,330.0,0.785,90.0,1026.0,0.000,10.0,21.0,3.0,15.5
4,2022-10-21 04:00:00,1.0,8.090,100.0,320.0,0.770,75.5,1026.0,0.000,10.0,21.0,4.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2022-11-15 19:00:00,1.0,11.485,57.5,274.5,3.805,82.0,1017.0,0.000,11.0,15.0,19.0,15.0
620,2022-11-15 20:00:00,1.0,11.495,56.5,271.5,3.715,77.0,1017.0,0.000,11.0,15.0,20.0,15.0
621,2022-11-15 21:00:00,1.0,7.890,87.0,10.0,4.375,100.0,1017.5,0.150,11.0,15.0,21.0,15.5
622,2022-11-15 22:00:00,1.0,11.435,58.5,271.5,4.180,8.0,1017.0,0.125,11.0,15.0,22.0,15.5
623,2022-11-15 23:00:00,1.0,11.370,59.0,273.0,4.170,14.0,1017.0,0.000,11.0,15.0,23.0,0.0

In [163]:
weather2_1_1 = pd.concat([weathers2_1, weather2_1])

In [164]:
weather2_1_1

,time,id,temperature,humidity,wind_dir,wind_spd,cloudiness,pressure,precip_1h,mon,day,hour,min
0,2020-10-01 00:00:00,1.0,17.290,94.0,86.0,1.460,38.0,1011.5,0.000,10.0,1.0,0.0,15.0
1,2020-10-01 01:00:00,1.0,17.330,82.5,106.5,1.970,38.0,1011.5,0.000,10.0,1.0,1.0,15.0
2,2020-10-01 02:00:00,1.0,16.685,85.0,130.5,2.220,1.0,1012.0,0.000,10.0,1.0,2.0,15.0
3,2020-10-01 03:00:00,1.0,16.185,90.5,122.0,2.370,38.0,1012.0,0.000,10.0,1.0,3.0,15.0
4,2020-10-01 04:00:00,1.0,16.010,87.5,126.0,2.310,38.0,1012.0,0.000,10.0,1.0,4.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2022-11-15 19:00:00,1.0,11.485,57.5,274.5,3.805,82.0,1017.0,0.000,11.0,15.0,19.0,15.0
620,2022-11-15 20:00:00,1.0,11.495,56.5,271.5,3.715,77.0,1017.0,0.000,11.0,15.0,20.0,15.0
621,2022-11-15 21:00:00,1.0,7.890,87.0,10.0,4.375,100.0,1017.5,0.150,11.0,15.0,21.0,15.5
622,2022-11-15 22:00:00,1.0,11.435,58.5,271.5,4.180,8.0,1017.0,0.125,11.0,15.0,22.0,15.5
623,2022-11-15 23:00:00,1.0,11.370,59.0,273.0,4.170,14.0,1017.0,0.000,11.0,15.0,23.0,0.0

In [165]:
weather2_1_1.to_csv('weather2_1115.csv', index=False)

In [111]:
weather1_1 = first_gens(weather1_1)

In [118]:
weather1_1

,id,time,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h
0,1,2020-10-01 00:00:00,16.5,100.0,16.4,338.0,5.7,0,16.1,74.0,9144,1011.0,0.0
1,1,2020-10-01 01:01:00,16.7,88.0,14.7,315.0,5.3,0,16.1,31.0,9144,1011.0,0.0
2,1,2020-10-01 02:01:00,16.5,95.0,15.8,45.0,5.0,0,14.5,18.0,9144,1012.0,0.0
3,1,2020-10-01 03:00:00,16.1,92.0,14.8,23.0,3.7,0,14.5,11.0,9144,1012.0,0.0
4,1,2020-10-01 04:00:00,15.8,87.0,13.8,270.0,4.7,0,17.7,51.0,9144,1012.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18747,1,2022-10-21 12:53:00,19.1,44.0,6.7,225.0,5.4,2,12.9,68.0,3653,1025.0,0.0
18748,1,2022-10-21 13:06:00,19.0,44.0,6.7,225.0,5.4,3,12.9,68.0,10150,1024.0,0.0
18749,1,2022-10-21 13:58:00,19.0,42.0,5.9,293.0,7.4,4,8.0,0.0,12192,1024.0,0.0
18750,1,2022-10-21 14:59:00,20.3,34.0,3.9,270.0,9.5,3,11.3,38.0,4846,1023.0,0.0
18751,1,2022-10-21 15:58:00,20.6,38.0,5.7,248.0,9.5,2,16.1,55.0,12192,1023.0,0.0

In [114]:
weather1_3 = first_gens(weather1_3)

In [1]:
def weather(data):
    data = data.dropna()
    data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
    data['date'] = data['time'].dt.date
    data['mon'] = data['time'].dt.month
    data['day'] = data['time'].dt.day
    data['hour'] = data['time'].dt.hour
    data['min'] = data['time'].dt.minute
    for i in range(0,len(data)):
        if (data['min'].iloc[i]> 30):
            data['hour'].iloc[i] += 1
            if(data['hour'].iloc[i] == 24):
                data['hour'].iloc[i] = 0
                data['day'].iloc[i] += 1
        data['time'] = data['date'].astype(str) + " " + data['hour'].astype(str) + ':00:00'
    data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
    data = data.groupby(['time'],as_index=False).mean()
    return data

In [132]:
weather1_1 = weather(weather1_1)

C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['time'].dt.date
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mon'] = data['time'].dt.month
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['time'].dt.day
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['time'].dt.hour
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['min'] = data['time'].dt.minute
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = data['date'].astype(str) + " " + data['hour'].astype(str) + ':00:00'
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] = 0
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = data.groupby(['time'],as_index=False).mean()

In [131]:
weather1_3.tail(19)

,id,time,temperature,humidity,dew_point,wind_dir,wind_spd,uv_idx,visibility,cloudiness,ceiling,pressure,precip_1h
18895,3,2022-10-20 22:57:00,9.9,50.0,-0.2,270.0,0.0,0,19.3,68.0,10363,1027.4,0.0
18896,3,2022-10-20 23:57:00,8.9,53.0,-0.2,248.0,0.0,0,19.3,38.0,12192,1026.4,0.0
18897,3,2022-10-21 00:58:00,8.9,77.0,5.0,0.0,0.0,0,19.3,76.0,12192,1026.0,0.0
18898,3,2022-10-21 01:58:00,8.0,57.0,0.0,270.0,0.0,0,19.3,28.0,12192,1025.5,0.0
18899,3,2022-10-21 02:58:00,7.6,73.0,3.1,293.0,0.4,0,19.3,48.0,12192,1025.6,0.0
18900,3,2022-10-21 03:57:00,7.4,82.0,4.6,0.0,0.0,0,19.3,76.0,12192,1026.0,0.0
18901,3,2022-10-21 04:53:00,6.8,87.0,4.6,293.0,0.0,0,19.3,39.0,0,1026.4,0.0
18902,3,2022-10-21 05:58:00,5.7,92.0,4.5,293.0,0.4,0,19.3,14.0,12192,1026.8,0.0
18903,3,2022-10-21 07:05:00,10.3,65.0,4.0,0.0,0.0,0,19.3,25.0,5456,1027.2,0.0
18904,3,2022-10-21 07:57:00,7.9,81.0,4.8,0.0,0.0,0,19.3,25.0,12192,1027.2,0.0
18905,3,2022-10-21 08:58:00,10.1,70.0,4.8,225.0,0.0,1,19.3,0.0,12192,1027.1,0.0
18906,3,2022-10-21 09:58:00,10.4,69.0,4.9,0.0,0.0,2,19.3,50.0,10058,1027.0,0.0
18907,3,2022-10-21 10:58:00,17.1,45.0,5.1,45.0,2.2,3,19.3,54.0,9144,1026.8,0.0
18908,3,2022-10-21 11:57:00,18.3,42.0,5.2,90.0,1.4,3,19.3,73.0,9144,1027.2,0.0
18909,3,2022-10-21 12:53:00,18.0,40.0,4.1,90.0,1.9,2,20.9,88.0,5982,1025.0,0.0
18910,3,2022-10-21 13:06:00,19.7,36.0,4.1,90.0,1.9,2,19.3,88.0,5852,1026.7,0.0
18911,3,2022-10-21 13:58:00,18.0,42.0,5.0,180.0,0.0,4,19.3,20.0,5852,1026.7,0.3
18912,3,2022-10-21 14:59:00,18.1,40.0,4.4,270.0,1.1,1,17.7,93.0,4602,1026.7,0.1
18913,3,2022-10-21 15:58:00,17.9,45.0,5.7,270.0,1.9,1,20.9,100.0,5822,1023.0,0.0

In [133]:
weather1_3 = weather1_3.drop([18897,18898,18899,18900,18901,18902,18903,18904,18905,18906,18907,18908,18909,18910,18911,18912,18913])

In [134]:
weather1_3 = weather(weather1_3)

C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['time'].dt.date
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mon'] = data['time'].dt.month
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'] = data['time'].dt.day
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'] = data['time'].dt.hour
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['min'] = data['time'].dt.minute
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = data['date'].astype(str) + " " + data['hour'].astype(str) + ':00:00'
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['hour'].iloc[i] = 0
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['day'].iloc[i] += 1
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time'] = pd.to_datetime(data['time'], format='%Y-%m-%d %H:%M:%S')
C:\Users\lhk65\AppData\Local\Temp\ipykernel_11668\1482837036.py:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data = data.groupby(['time'],as_index=False).mean()

In [139]:
weather1_1_1_1 = pd.concat([weather1_1, weather1_1_1])
weather1_3_1_1 = pd.concat([weather1_3, weather1_1_3])

In [140]:
weather1_1_1_1.to_csv('weather1_1_1115.csv', index=False)
weather1_3_1_1.to_csv('weather1_3_1115.csv', index=False)